    
    /*The map*/
    #map-canvas {
      height: 100%;
      margin:20px;
      background-color: grey;
    }


    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .custom-map-control-button {
  appearance: button;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 10px;
  padding: 0 0.5em;
  height: 40px;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}

/*the panel that pops up when you click a marker*/
#panel {
    height: null;
    width: 100%;
    bottom:0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    text-align: center;
      margin:30px;
      
      
}
/*The panel that pops up at the top with the directions button*/
#directionbutton{
     height: null;
    width: 100%;
    top:0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
     text-align: center;
}

/*The get directions button div*/
#getdirections{
    display: inline-block;
  margin: 0 auto;
  margin-top:110px;
}

/* Dynamically added styling to the Get Directions Button*/
.directions{
    width:40%;
    font-size:40px;
    border-radius:40px;
    background-color: #ec484d;
    color:white;
    border:0
  
}

.directions:hover{
    background-color: white;
    color:#ec484d;
    border:solid 1px #ec484d;
}

/*opening and closing the panel when markers are clicked*/
.open{
    height:300px;
}


.closepanel{
    height:null;
}

/*the bottom panel styling*/
.detail{
    width:70%;
    background-color: white;
     box-shadow: -6px 6px 13px #888888;
    border-radius:10px;
    margin-top:1.5%;
    padding:10px;
     display: inline-block;
  margin: 0 auto;
}

/*star icon in the bottom panel*/
.fa-star{
    color:orange;
}

/*The two divs that make up the bottom panel and divide the photos into one half and the details in the other*/
#placedetails{
    border-radius: 10px;
    padding:10px;
    vertical-align: middle;
}

#mapwrittendetails{
    text-align:left;
    vertical-align: middle;    
}


/*styling for the tap to zoom out button*/

.circlebase{
    border-radius:50%;
}

.mouse i{
    font-size:30px;
}

.mouse{
    font-size:21px;
    color:#ec484d;
    background-color: white;
    border:solid 2px #ec484d;
    padding:12px;
    padding-top:5px;
    width:110px;
    height:100px;
    display: inline-block;
  margin: 0 auto;
  margin-top:5%;
}

.mouse:hover{
    background-color: #ec484d;
    color:white;
    border:solid 1px #ec484d;
     cursor: pointer;
}

/*when there is no photo add this color to the background*/
.nophoto{
    background-color: grey;
}

/*styling for medium sized screens*/
@media (max-width:970px){
    #mapwrittendetails{
    text-align:center;
}

.detail{
     width: 100%;
  text-align: center;
  border:none;
  border-radius: 0px;
  box-shadow: none;
}

#placedetails{
   display: inline-block;
  margin: 0 auto;
}

#panel{
    background-color:white;
    margin:0;
}

.open{
    height:350px;
}

.directions{
    font-size:30px;
}


}

/*styling for small screens*/
@media (max-width:700px){
    .open{
    height:250px;
}
.directions{
    width:80%;
    font-size:25px;
}

.mouse{
    opacity:0;
}
}