    #map-canvas {
      height: 100%;
      margin:20px;
      background-color: grey;
    }


    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .custom-map-control-button {
  appearance: button;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 10px;
  padding: 0 0.5em;
  height: 40px;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}

/*the panel that pops up when you click a marker*/
#panel {
    height: null;
    width: 100%;
    bottom:0;
    background-color: white;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: all .2s ease-out;
}

.open{
    height:200px;
}






.closepanel{
    height:null;
}

/* Get Directions Button*/
.directions{
    margin:auto;
    width:100%;
    font-size:50px;
    margin-top:13%;
}

