    #map-canvas {
      height: 100%;
      margin:20px;
      background-color: grey;
    }


    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .custom-map-control-button {
  appearance: button;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 10px;
  padding: 0 0.5em;
  height: 40px;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}

/*the panel that pops up when you click a marker*/
#panel {
    height: null;
    width: 100%;
    bottom:0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    text-align: center;
      margin:30px;
      
      
}

#directionbutton{
     height: null;
    width: 100%;
    top:0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
     text-align: center;
}

#getdirections{
    display: inline-block;
  margin: 0 auto;
  margin-top:110px;
}


.open{
    height:300px;
}


.closepanel{
    height:null;
}

.detail{
    width:70%;
    background-color: white;
     box-shadow: -6px 6px 13px #888888;
    border-radius:10px;
    margin-top:1.5%;
    padding:10px;
     display: inline-block;
  margin: 0 auto;
}

#placedetails{
    border-radius: 10px;
    padding:10px;
    vertical-align: middle;
}

#mapwrittendetails{
    text-align:left;
    vertical-align: middle;
}


/* Get Directions Button*/
.directions{
    width:40%;
    font-size:40px;
    border-radius:40px;
    background-color: #00b8f6;
    color:white;
    border:0
  
}

.directions:hover{
    background-color: white;
    color:#00b8f6;
    border:solid 1px #00b8f6;
}

@media (max-width:970px){
    #mapwrittendetails{
    text-align:center;
}

.detail{
     width: 100%;
  text-align: center;
  border:none;
  border-radius: 0px;
  box-shadow: none;
}

#placedetails{
   display: inline-block;
  margin: 0 auto;
}

#panel{
    background-color:white;
    margin:0;
}

.open{
    height:350px;
}

.directions{
    font-size:30px;
}
}

@media (max-width:700px){
    .open{
    height:250px;
}
.directions{
    width:80%;
    font-size:25px;
}
}