*{
    margin:0;
    padding:0;
}
/* Background image*/
body{
background: #d5eaef url(images/food.jpg) no-repeat;
  height: 100vh; 
  background-position: center center;
  background-size: cover;
  max-width:100%;      
      
}

/*white box in the center*/
.box{
    width:600px;
    height:650px;
    padding:0;
    margin: auto;
    background:	white;
    opacity: 0.8;
    margin-top:50px;
    border-radius: 25px;
    box-shadow: -5px 5px 10px rgba(136,136,136,0.6);
    position:relative;
    
}
/*all the contents in the box div*/

.logo{
background-image:url(images/logo1.png);
width:400px;
height:200px;
margin:auto;
background-position: center;
background-repeat: no-repeat;
margin-top:25px;
}

/*Find a Restaurant Near You Heading*/
.title{
    text-align:center;
    color:green;
}



/*submit button*/
.bluebutton{
    text-align:center;
    margin-top:20px;
}

.btn{
     width:80%;
    font-size:40px;
    border-radius:40px;
    background-color: #ec484d;
    color:white;
    border:0
}

.btn:hover{
     background-color: white;
    color:#ec484d;
    border:solid 1px #ec484d;
}

@media (max-width:764px){
  .location{
      text-align:center;
  }
.mobileform{
margin-left:34%;
}

html, body {
    height:100%;
} 
body{
    background-color: #d6e9ee ;
    background-size: auto 100%;
    background-image: none;
}

.box{
    width:400px;
    
}

}



